:root {
  --white-two: #dfdfdf;
  --white-three: #faf9f7;
  --white-four: #f2f2f2;
  --light-brown: #d7be9f;
  --greyish-brown: #4a4a4a;
  --pinkish-grey: #c8c8c8;
  --green-blue: #00c88c;
  --purple: #5e20a4;
  --purple-blue: #7223b9;
}
