.footer {
  display: grid;
  grid-template-columns: 3;
  justify-items: center;
  align-items: center;
  margin: 44px 122px 0 122px;

  @media (--sm-viewport) {
    grid-template: repeat(3, auto) / 2;
    margin: 0;
  }

  .logo {
    grid-column: 1;
    width: 65px;
    height: 24px;

    @media (--sm-viewport) {
      grid-row: 1;
      grid-column: 1 / 2;
      margin-top: 44px;
    }
  }


  .links {
    grid-column: 2;
    display: grid;
    grid-template-areas:
    "first second third fourth";
    justify-content: center;

    .link {
      font-size: 14px;
      line-height: 1.71;
      text-align: center;
      color: var(--greyish-brown);
      text-decoration: none;
      margin: 30px 0 0 50px;

      @media (--sm-viewport) {
        font-size: 12px;
        line-height: 2;
        margin: 0;
      }
    }

    @media (--sm-viewport) {
      grid-row: 2;
      grid-column: 1 / 2;
      justify-content: space-between;
      grid-template-areas:
        "first second"
        "third fourth";
      font-size: 12px;
      line-height: 2;
      margin-top: 30px;
    }

    .first-link-desktop {
      @media (--sm-viewport) {
        display: none;
      }
    }

    .first-link-mobile {
      @media not all and (--sm-viewport) {
        display: none;
      }
    }

    .second-link-desktop {
      @media (--sm-viewport) {
        display: none;
      }
    }

    .second-link-mobile {
      @media not all and (--sm-viewport) {
        display: none;
      }
    }

    .fourth-link-mobile {
      @media (--sm-viewport) {
        margin-left: 35px;
      }
    }
  }

  .icons {
    grid-column: 3;

    .icon {
      width: 47px;
      height: 47px;
      margin-left: 18px;
    }

    @media (--sm-viewport) {
      grid-row: 3;
      grid-column: 1 / 2;
      margin-top: 19px;
    }
  }
}

.line {
  width: 83%;
  margin-top: 40px;
  border: solid 0.5px var(--white-four);

  @media (--sm-viewport) {
    width: 100%;
    margin-top: 19px;
  }
}

.copyright {
  font-size: 12px;
  opacity: 0.6;
  text-align: center;
  padding: 32px 0 42px 0;
  color: var(--greyish-brown);

  @media (--sm-viewport) {
    padding: 20px 60px;
  }
}
